$contentBackground: url(../img/m-h-day.jpg);
$header-text-color: #312F3E;
$text-highlight: #009BC5;
$button-bg-color: #699900;
$spec-font: 'Hind', sans-serif;
$bg-color: #fff;
$cards-bg-color: #21232E;
$banner-bg: linear-gradient(to right, #649410, #2C5ADB);