$contentBackground: url(../img/m-h-night.jpg);
$header-text-color: #fff;
$text-highlight: #FF0030;
$button-bg-color: #E4B719;
$spec-font: 'Fresca', sans-serif;
$bg-color: #21232E; 
$cards-bg-color: #3B3F50;
$banner-bg: linear-gradient(to right, #E2B11A, #9D0051);